/*
* @Author: Marte
* @Date:   2018-05-26 15:54:07
* @Last Modified by:   Marte
* @Last Modified time: 2018-05-26 22:50:30
*/
@media screen and (min-width:900px){
body{position:relative;margin:0px}
.main{
    width:100%;
    background:#ccc ;
    height:100%;
}
.main .m-news{
    width:60%;
    height:100%;
    background:#fff;
    position:absolute;
    left:50px;
    top:120px;
}
.main .m-news h3{
    text-align:center;
    margin:20px auto;
}
.main .m-news .news-top{
    width:100%;
    height:30px;
    border:1px dotted #ccc;
    margin-bottom:20px;
    line-height:30px;
}
.news-top ul{
    width:60%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}
.main .m-news .text{
    width:810px;
    position:relative;
    font-size:16px;
    color:#666;
    line-height:25px;
    font-family: å¾®è½¯é›…é»‘;
}

.main .m-news .text textarea{
    width:100%;
    height:700px;
    font-size:16px;
    margin-top:25px;
}
.main .m-news .text span1{
    font-size:20px;
    font-weight:bold;
    color:red;
}
.main .right{
    position:absolute;
    top:120px;
    right:40px;
    width:380px;
    float:right;
    margin-right:40px;
}
.right .right_top{
    width:100%;
    height:160px;
}
.right .right_top .right_top_ul{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.right .right_top .right_top_ul li{
    width:110px;
    height:75px;
    margin-bottom:2px;
    margin-left:1px;
    color:#fff;
    text-align:center;
    line-height:75px;
    cursor:pointer;
}
.right .right_top .right_top_ul li:nth-child(1){
    background:#71a532;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(1):hover{
    background:#71a532;
    transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(2){
    background:#ff9900;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(2):hover{
     background:#ff9900;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(3){
    background:#8c49ad;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(3):hover{
     background:#8c49ad;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(4){
    background:#e7769e;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(4):hover{
     background:#e7769e;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(5){
    background:#a98659;
    transition:1s;
}
 .right .right_top .right_top_ul li:nth-child(5):hover{
     background:#a98659;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(6){
    background:#63a8e8;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(6):hover{
     background:#63a8e8;
     transform:rotate(360deg);
}
.right .right_mid{
    width:365px;
    height:160px;
    background:#fe6150;
    margin:0 auto;
    text-align:center;
    padding-top:70px;
}
.right .right_mid span{
    display:block;
    color:#fff;
    line-height:30px;
    margin-top:0px;
}
.right .right_bottom{
    width:365px;
    height:270px;
    margin:10px auto;
    position:relative;
}
.right .right_bottom .img{
    width:95px;
    height:125px;
    background:#000;
}
.right .right_bottom .mynews{
    width:180px;
    height:125px;
    float:right;
    margin-right:85px;
}
.right .right_bottom .mynews li{
    margin-top:4px;
    color:#000;
}
.right .right_bottom .banner{
    width:365px;
    height:40px;
    background:#fe6150;
    position:absolute;
    top: 150px;
    color:#fff;
    line-height:40px;
    text-align:center;
    font-weight:bold;
}
.right .right_bottom .share{
    width:365px;
    height:50px;
    position:absolute;
    top: 200px;
}
.right .right_bottom .share ul{
    display:flex;
    justify-content:space-around;
}
.right .right_bottom .share ul li{
    width:50px;
    height:50px;
    // margin:0 2px;
    cursor:pointer;
}
.right .right_bottom .share ul li img{
    width:50px;
    height:50px;
}
.news-foot{
    margin-top:50px;
    position:absolute;
    left:-50px;
    width:166%;
    height:50px;
    background:#ddd;
}
.news-foot span{
    display:block;
    font-size:14px;
    line-height:50px;
    margin-left:30px;
    text-align:center;
}
}

/*
* @Author: Marte
* @Date:   2018-05-26 15:54:07
* @Last Modified by:   Marte
* @Last Modified time: 2018-05-26 21:53:33
*/
@media screen and (max-width:600px){
body{position:relative;margin:0px}
.box{
    width:330px;
}
.main{
    width:100%;
    background:#ccc ;
    height:100%;
}
.main .m-news{
    width: 88%;
    height:100%;
    background:#fff;
    position:absolute;
    left: 25px;
    top:1260px;
}
.main .m-news h3{
    text-align:center;
    margin:20px auto;
}
.main .m-news .news-top{
    width:100%;
    height:30px;
    border:1px dotted #ccc;
    margin-bottom:20px;
    line-height:30px;
}
.news-top ul{
    width:100%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    font-size:13px;
}
.main .m-news .text{
    width:100%;
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    position:relative;
    font-size:16px;
    color:#666;
    line-height:25px;
    font-family: å¾®è½¯é›…é»‘;
}
.main .m-news .text img{
    width:280px;
    height:240px;
}
.main .m-news .text textarea{
    width:100%;
    height:700px;
    font-size:16px;
    margin-top:15px;
}
.main .m-news .text span1{
    font-size:20px;
    font-weight:bold;
    color:red;
}
.main .right{
    position:absolute;
    top: 90px;
    width: 340px;
    float:right;
    margin: 10px auto;
    margin-left: 15px;
}
.right .right_top{
    width:100%;
    height:160px;
    margin: 10px auto;
}
.right .right_top .right_top_ul{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.right .right_top .right_top_ul li{
    width:110px;
    height:75px;
    margin-bottom:2px;
    margin-left:1px;
    color:#fff;
    text-align:center;
    line-height:75px;
    cursor:pointer;
}
.right .right_top .right_top_ul li:nth-child(1){
    background:#71a532;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(1):hover{
    background:#71a532;
    transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(2){
    background:#ff9900;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(2):hover{
     background:#ff9900;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(3){
    background:#8c49ad;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(3):hover{
     background:#8c49ad;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(4){
    background:#e7769e;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(4):hover{
     background:#e7769e;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(5){
    background:#a98659;
    transition:1s;
}
 .right .right_top .right_top_ul li:nth-child(5):hover{
     background:#a98659;
     transform:rotate(360deg);
}
.right .right_top .right_top_ul li:nth-child(6){
    background:#63a8e8;
    transition:1s;
}
.right .right_top .right_top_ul li:nth-child(6):hover{
     background:#63a8e8;
     transform:rotate(360deg);
}
.right .right_mid{
    width: 100%;
    height:160px;
    background:#fe6150;
    margin:0 auto;
    padding-top:70px;
}
.right .right_mid span{
    color:#fff;
    line-height:30px;
    padding: 5px;
}
.right .right_bottom{
    width: 100%;
    height:270px;
    margin:10px auto;
    position:relative;
}
.right .right_bottom .img{
    width:95px;
    height: 125px;
    background:#000;
}
.right .right_bottom .mynews{
    width:180px;
    height:125px;
    float:right;
    margin-right: 40px;
}
.right .right_bottom .mynews li{
    margin-top: 2px;
    color:#000;
}
.right .right_bottom .banner{
    width: 330px;
    height:40px;
    background:#fe6150;
    position:absolute;
    top: 150px;
    color:#fff;
    line-height:40px;
    text-align:center;
    font-weight:bold;
}
.right .right_bottom .share{
    width: 100%;
    height:50px;
    position:absolute;
    top: 200px;
}
.right .right_bottom .share ul{
    display:flex;
    justify-content:space-around;
}
.right .right_bottom .share ul li{
    width:50px;
    height:50px;
    margin:0 2px;
    cursor:pointer;
}
.right .right_bottom .share ul li img{
    width:50px;
    height:50px;
}
.news-foot{
    margin-top:50px;
    position:absolute;
    left: -25px;
    width: 375px;
    height:50px;
    background:#ddd;
}
.news-foot span{
    display:block;
    font-size:14px;
    line-height:50px;
    margin-left:30px;
    text-align:center;
}
}